@font-face {
    font-family: 'VGA';
    src: url('PxPlus_IBM_VGA8.ttf');
  }
  
  body {
    font-family: VGA;
    font-size: 16px;
    background-color: #000;
    color: #ccc;
    font-weight: normal;
    line-height: 16px;
  }
  
  html, body {
      margin: 0;
      padding: 0;
      overflow: visible;
  }

  canvas{
      position:absolute;
  }